---
layout: home
title: Home
---

<div class="main content-panel">

	<div class="gravatar">
		<img src="{{ site.assets.images }}profile.png" class="img-circle about-image" height="150" width="150" alt="{{ site.author.name }}">
	</div>

	<h1 class="header author-header" itemprop="headline">{{ site.author.name }}</h1>
	<h4 class="author-email"><a href="mailto:{{ site.author.email }}" target="_new"><i class="far fa-envelope">&nbsp;</i></a><a href="mailto:{{ site.author.email }}" target="_new">mrasto3@uic.edu</a></h4>

	<div class="author-text">
		{{ site.author.description }}
	</div>

	{% include links.html %}

</div>
<div class="content-panel-transparent">
	<a class="pill" href="{{ site.baseurl }}cs491"><i class="fas fa-link"></i>&nbsp;CS 491 (428) - Virtual and Augmented Reality</a>
</div>
<br>
{% include footer.html %}