---
layout: page
title: CS 491 - Virtual and Augmented Reality
---

<div class="content-page">
  <p>I am taking <a href="https://www.evl.uic.edu/aej/491/">CS 491 - Virtual and Augmented Reality</a> class taught by <a href="https://www.evl.uic.edu/aej">Professor Andrew Johnson</a>.
<br><br>
This page maintains a log of all the assignments and projects done as part of this course.
</p>
</div>
<hr>
<div class="posts">
  {% for post in site.posts %}
  {% if post.categories contains "CS491" and post.draft != true %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url | remove_first: '/'}}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <p>{{ post.excerpt | truncatewords: 75}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>